@{ 
    Layout = null;
}

<div class="panel panel-default">
    <div class="form-horizontal">
        <div class="panel-heading">
            <div class="panel-title">
                <h3>Selecione um Departamento: </h3>
                <hr />
            </div>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-3" style="margin-bottom:15px">
                        <a href="~/Departamentos/Carro" class="thumbnail alinharCentro">
                            <label>Carro</label>
                            <hr class="marginTop5px" />
                            <img class="tamImg" src="~/img/Carro.jpg" />
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3" style="margin-bottom:15px">
                        <a href="~/Departamentos/Casa" class="thumbnail alinharCentro">
                            <label>Casa</label>
                            <hr class="marginTop5px" />
                            <img class="tamImg" src="~/img/Casa.jpg" />
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3" style="margin-bottom:15px">
                        <a href="~/Departamentos/Feminino" class="thumbnail alinharCentro">
                            <label>Feminino</label>
                            <hr class="marginTop5px" />
                            <img class="tamImg" src="~/img/Feminino.jpg" />
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3" style="margin-bottom:15px">
                        <a href="~/Departamentos/Infantil" class="thumbnail alinharCentro">
                            <label>Infantil</label>
                            <hr class="marginTop5px" />
                            <img class="tamImg" src="~/img/Infantil.jpg" />
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3" style="margin-bottom:15px">
                        <a href="~/Departamentos/Informatica" class="thumbnail alinharCentro">
                            <label>Informática</label>
                            <hr class="marginTop5px" />
                            <img class="tamImg" src="~/img/Informatica.jpg" />
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3" style="margin-bottom:15px">
                        <a href="~/Departamentos/Livros" class="thumbnail alinharCentro">
                            <label>Livros</label>
                            <hr class="marginTop5px" />
                            <img class="tamImg" src="~/img/Livros.jpg" />
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3" style="margin-bottom:15px">
                        <a href="~/Departamentos/Masculino" class="thumbnail alinharCentro">
                            <label>Masculino</label>
                            <hr class="marginTop5px" />
                            <img class="tamImg" src="~/img/Masculino.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>