@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Teste ASP.NET - Cia Técnica</h1>
    <p class="lead">Projeto referente a teste prático de conhecimentos em ASP.NET MVC</p>
    <hr />
    <h2>Venha conhecer o módulo de Gestão de Cliente !!</h2>
    <br />
    @Html.ActionLink("Gestão de Clientes >>", "Index", "Cliente", null, new { @class="btn btn-primary btn-lg" })
</div>